@import url(http://fonts.googleapis.com/css?family=Lustria);

body {
	/*overflow: hidden;*/
	background: #CCC;
}

begin {
	display: block;
}

ltxcmd-begin[begintype="document"] {
	display: block;
	background: #FFF;
	margin-top: 2em;
	margin-left: 10em;
	margin-right: 10em;
	margin-bottom: 10em;
	border: 0.1em solid #000;
	box-shadow: 10px 10px 10px #555;
	padding: 5em;
}

ltxcmd-begin[begintype="document"] > ltx-content > * {
	display: block;
}

ltxcmd-begin > ltx-value {
	display: none;
}


ltxcmd-document ltx-value > * { /* latexcmd-document is tmp hack, remove*/
	display: none;
}

ltxcmd-document { /*same here tmp hack, remove*/
	position: absolute;
	left: 50%;
	top: 0;
	width: 50%;
	height: 100vh;
	overflow: scroll;

	font-family: 'Lustria', serif;
	font-size: 12px;
	background: #CCC;
}

ltxcmd-section {
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}


ltxcmd-subsection {
	display: block;
	font-size: 1.5em;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}


ltxcmd-subsubsection {
	display: block;
	font-size: 1.17em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

ltxcmd-par {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
}

ltxcmd-paragraph {
	font-weight: bold;
	margin-bottom: 10px;
}

ltxcmd-textbf {
	font-weight: bold;
}

ltxcmd-begin[begintype="enumerate"] ltx-content {
	display: block;
	list-style-type: decimal;
	margin-left: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 40px;
}


ltxcmd-begin[begintype="enumerate"] > ltx-content ltxcmd-item {
	display: list-item;
	text-align: -webkit-match-parent;
}

ltxcmd-begin[begintype="itemize"] ltx-content {
	display: block;
	list-style-type: decimal;
	margin-left: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 40px;
}


ltxcmd-begin[begintype="itemize"] > ltx-content ltxcmd-item {
	display: list-item;
	text-align: -webkit-match-parent;
}

#input {
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
}

ltxcmd-tabular {
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;
}

ltxcmd-tabular > ltx-tab-row {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
	border-top: 2px solid black;
}

ltxcmd-tabular ltx-tab-row[hline="true"] > ltx-tab-col {
	border-top: 1px solid black;
}

ltxcmd-tabular ltx-tab-row ltx-tab-col[vline="true"] {
	border-left: 1px solid black;
}


ltxcmd-tabular > ltx-tab-row > ltx-tab-col {
	display: table-cell;
	vertical-align: inherit;
}
